/**
 * Main stylesheet of the project.
 */

body {
  background-color: #262626;
  font-family: 'Lato', sans-serif;
  margin: 0 auto;
  max-width: 850px;
}

#main-content {
  padding-top: 20px;
  top: -22%;
  transform: translateY(22%);
}

.text > h1 {
	font-size: 48px;
	font-weight: 300;
	text-align: center;
	line-height: 1.23em;
	color: #FFF;
	padding-bottom: 18px;
}

.button-area{
  display: block;
  max-width: 200px;
  margin: 0 auto;
}

.description{
	padding-bottom: 70px;
	text-align: center;
	font-size: 22px;
	font-weight: 300;
  line-height: 1.5em;
	letter-spacing: 0.03em;
	color: #FFF;
}

.central{
	height: 200px;
	width: 200px;

	border-radius: 555px;
	border-style: none;
	outline: none;

  color: #fff;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.05em;
  text-align: center;

  background-color: #ff1a29;
  box-shadow: 0 12px #cc000e;
  cursor: pointer;
}

.central:active {
	background-color: #ff1a29;
	box-shadow: 0 7px #cc000e;
	transform: translateY(4px);
}

/**
* FOOTER
*/

footer {
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
  font-weight: 300;
  color: #c9cbcf;
}
