@import "../../style/variables";

h1.logo{
	display: block;
    color: white;
	padding: 0;
    a{
		background: url("../../assets/logo.svg") no-repeat center;
		width: 115px;
		height: 76px;
		display: block;
		text-indent: -9999px;
    }
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	padding: 20px;
	background: transparent;
	z-index: 50;
	h1 {
		margin: 0;
		font-size: 24px;
		line-height: 56px;
		font-weight: 400;
		color: #FFF;
	}
	nav {
		float: right;
		font-size: 100%;
		a {
			display: inline-block;
			height: 56px;
			line-height: 56px;
			padding: 0 15px;
			min-width: 50px;
			text-align: center;
			background: rgba(255,255,255,0);
			text-decoration: none;
			color: rgba(0,0,0,0.7);
            text-transform: uppercase;
            font-weight: bold;
			will-change: background-color;
            position: relative;
            &:after{
              content: '';
              display: block;
              position: absolute;
              bottom: 0px;
              height: 5px;
              background: $primaryColor;
              width: 100%;
              left: 0px;
              will-change: transform;
              transform: scaleX(0);
              transition: transform 0.3s ease;
            }

			&:hover,
			&:active,
            &.active{
              &:after{
                transform: scaleX(1);
              }
			}
		}
	}
}
